{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>chatServer</title>

        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        <style>
            .messages {
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-primary">
        <nav class="flex items-center justify-between px-6 py-4 bg-secondary">
            <div>
                <a href="/" class="text-xl text-white">ConvoHub</a>
            </div>

            <div class="flex items-center space-x-6">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'rooms:rooms' %}" class="text-white hover:text-gray-200">Rooms</a>

                    <a href="{% url 'accounts:logout' %}" class="px-5 py-3 rounded-xl text-white bg-teritiary hover:bg-primary">Log out</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="text-white hover:text-gray-200">Log in</a>
            
                    <a href="{% url 'accounts:signup' %}" class="px-4 py-2 rounded-md text-white bg-teritiary hover:bg-primary">Sign up</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock content %}

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>